Repository tgstation/tgstation-server, pull requests merged in 2020-10, with the labels that each got.

#1130 Fixes set-env depreciation
  .github/workflows/ci-suite.yml
Labels: CI, Fix, GitHub

#1133 Adds webpanel v1.0.1 to the project
  .dockerignore
  .gitignore
  build/ControlPanelVersion.props
  build/Dockerfile
  build/Version.props
  src/Tgstation.Server.Host/ClientApp/README.md
  src/Tgstation.Server.Host/ClientApp/package-lock.json
  src/Tgstation.Server.Host/ClientApp/package.json
  src/Tgstation.Server.Host/ClientApp/public/index.html
  src/Tgstation.Server.Host/ClientApp/src/index.css
  src/Tgstation.Server.Host/ClientApp/src/index.tsx
  src/Tgstation.Server.Host/ClientApp/src/react-app-env.d.ts
  src/Tgstation.Server.Host/ClientApp/src/registerServiceWorker.ts
  src/Tgstation.Server.Host/ClientApp/tsconfig.json
  src/Tgstation.Server.Host/Controllers/ControlPanelController.cs
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Tests/VersionsTest.cs
  tgstation-server.sln
  tools/ReleaseNotes/Program.cs
Labels: Feature, Hacktoberfest

#1134 Adds X-Powered-By response header
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Extensions/ApplicationBuilderExtensions.cs
Labels: API, Feature

#1135 403 instead of 404 on foreign bridge request
  src/Tgstation.Server.Host/Controllers/BridgeController.cs
Labels: Area: DMAPI, Controller Issue

#1136 Adds better port allocation
  build/Version.props
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Host/Controllers/DreamDaemonController.cs
  src/Tgstation.Server.Host/Controllers/DreamMakerController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Core/IPortAllocator.cs
  src/Tgstation.Server.Host/Core/PortAllocator.cs
  tests/Tgstation.Server.Tests/Instance/DeploymentTest.cs
Labels: API, Area: Instance, Controller Issue, Fix

#1137 Small DMAPI v3 Optimization
  .github/CONTRIBUTING.md
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/v3210/api.dm
  src/DMAPI/tgs/v3210/commands.dm
  src/DMAPI/tgs/v5/api.dm
  src/Tgstation.Server.Host/Components/Interop/DMApiConstants.cs
  src/Tgstation.Server.Host/Components/Interop/DMApiVersionAtrribute.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
Labels: Area: DMAPI, Performance
