Repository tgstation/tgstation-server, pull requests merged in 2020-03, with the labels that each got.

#902 Minor V3 Programming QoL cleanups
  .github/CONTRIBUTING.md
  .gitignore
  .travis.yml
  TGS.ControlPanel/TGS.ControlPanel.csproj
  TGS.ControlPanel/packages.config
  TGS.Installer.UI/FodyWeavers.xml
  TGS.Installer.UI/FodyWeavers.xsd
  TGS.Installer.UI/TGS.Installer.UI.csproj
  TGS.Installer.UI/packages.config
  TGS.Installer/TGS.Installer.wixproj
  TGS.Interface.Bridge/FodyWeavers.xml
  TGS.Interface.Bridge/FodyWeavers.xsd
  TGS.Interface.Bridge/TGS.Interface.Bridge.csproj
  TGS.Interface.Bridge/packages.config
  TGS.Interface/TGS.Interface.csproj
  TGS.Interface/packages.config
  TGS.Server/TGS.Server.csproj
  TGS.Server/packages.config
  TGS.Tests/TGS.Tests.csproj
  TGS.Tests/packages.config
  Tools/BuildDox.ps1
  Tools/PostCIBuild.ps1
  appveyor.yml
  tgstation-server.sln
Labels: GitHub, Maintainability Issue, V3

#901 Maybe fixes linux pathing
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
Labels: Fix

#910 Pre-4.0.2 cleanups
  .github/CONTRIBUTING.md
  .github/workflows/stable-merge.yml
  .vscode/launch.json
  README.md
  build/Dockerfile
  build/test_core.sh
  src/Tgstation.Server.Client/Components/IInstanceClient.cs
  src/Tgstation.Server.Client/IRequestLogger.cs
  src/Tgstation.Server.Host.Console/Properties/launchSettings.json
  src/Tgstation.Server.Host.Console/Tgstation.Server.Host.Console.csproj
  src/Tgstation.Server.Host.Watchdog/Watchdog.cs
  src/Tgstation.Server.Host/Components/Chat/Commands/RevisionCommand.cs
  src/Tgstation.Server.Host/Components/Interop/JsonFile.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Api.Tests/Tgstation.Server.Api.Tests.csproj
  tests/Tgstation.Server.Client.Tests/Tgstation.Server.Client.Tests.csproj
  tests/Tgstation.Server.Host.Console.Tests/Tgstation.Server.Host.Console.Tests.csproj
  tests/Tgstation.Server.Host.Tests/Tgstation.Server.Host.Tests.csproj
  tests/Tgstation.Server.Host.Watchdog.Tests/Tgstation.Server.Host.Watchdog.Tests.csproj
  tests/Tgstation.Server.Tests/Tgstation.Server.Tests.csproj
  tools/ReleaseNotes/ReleaseNotes.csproj
Labels: GitHub, Host Watchdog Change, Maintainability Issue, Major Version Bump, Tools

#911 Version 4.0.2.0
  .github/CONTRIBUTING.md
  .github/workflows/stable-merge.yml
  .travis.yml
  .vscode/launch.json
  README.md
  appveyor.yml
  build/BuildDox.ps1
  build/Dockerfile
  build/Version.props
  build/test_core.sh
  docs/API.dox
  src/Tgstation.Server.Client/Components/IInstanceClient.cs
  src/Tgstation.Server.Client/IRequestLogger.cs
  src/Tgstation.Server.Host.Console/Properties/launchSettings.json
  src/Tgstation.Server.Host.Console/Tgstation.Server.Host.Console.csproj
  src/Tgstation.Server.Host.Service/Tgstation.Server.Host.Service.csproj
  src/Tgstation.Server.Host.Watchdog/Watchdog.cs
  src/Tgstation.Server.Host/Components/Chat/Commands/RevisionCommand.cs
  src/Tgstation.Server.Host/Components/Interop/JsonFile.cs
  src/Tgstation.Server.Host/Core/SetupWizard.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  src/Tgstation.Server.Host/appsettings.json
  tests/Tgstation.Server.Api.Tests/Tgstation.Server.Api.Tests.csproj
  tests/Tgstation.Server.Client.Tests/Tgstation.Server.Client.Tests.csproj
  tests/Tgstation.Server.Host.Console.Tests/Tgstation.Server.Host.Console.Tests.csproj
  tests/Tgstation.Server.Host.Tests/Core/TestSetupWizard.cs
  tests/Tgstation.Server.Host.Tests/Tgstation.Server.Host.Tests.csproj
  tests/Tgstation.Server.Host.Watchdog.Tests/Tgstation.Server.Host.Watchdog.Tests.csproj
  tests/Tgstation.Server.Tests/Tgstation.Server.Tests.csproj
  tools/ReleaseNotes/ReleaseNotes.csproj
Labels: GitHub, Release, Tools
