Repository tgstation/tgstation-server, pull requests merged in 2020-07, with the labels that each got.

#1069 Fix some errors on request cancellation
  src/Tgstation.Server.Api/ApiHeaders.cs
  src/Tgstation.Server.Api/HeaderTypes.cs
  src/Tgstation.Server.Api/HeadersException.cs
  src/Tgstation.Server.Client/ApiClient.cs
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Controllers/AdministrationController.cs
  src/Tgstation.Server.Host/Controllers/ApiController.cs
  src/Tgstation.Server.Host/Controllers/BridgeController.cs
  src/Tgstation.Server.Host/Controllers/ByondController.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Controllers/ConfigurationController.cs
  src/Tgstation.Server.Host/Controllers/DreamDaemonController.cs
  src/Tgstation.Server.Host/Controllers/DreamMakerController.cs
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Controllers/InstanceUserController.cs
  src/Tgstation.Server.Host/Controllers/JobController.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Core/SwaggerConfiguration.cs
  src/Tgstation.Server.Host/Extensions/ApplicationBuilderExtensions.cs
  src/Tgstation.Server.Host/Security/ClaimsInjector.cs
  tests/Tgstation.Server.Api.Tests/TestApiHeaders.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
  tests/Tgstation.Server.Tests/RootTest.cs
Labels: API, Controller Issue, Fix

#1072 4.4.1
  build/Version.props
  src/Tgstation.Server.Host/Components/Deployment/DmbFactory.cs
  src/Tgstation.Server.Host/Components/InstanceManager.cs
  src/Tgstation.Server.Host/Components/Session/SessionPersistor.cs
  src/Tgstation.Server.Host/Components/Watchdog/PosixWatchdogFactory.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogFactory.cs
  src/Tgstation.Server.Host/Components/Watchdog/WindowsWatchdogFactory.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Database/DatabaseSeeder.cs
  src/Tgstation.Server.Host/Server.cs
Labels: Fix, Release

#1087 Update api.dm
  src/DMAPI/tgs/v4/api.dm
  src/DMAPI/tgs/v5/api.dm
Labels: Area: DMAPI, Fix
