Repository tgstation/tgstation-server, pull requests merged in 2020-12, with the labels that each got.

#1154 Fix the possibility of watchdog starting twice.
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
Labels: Fix

#1155 Fix DMAPI doc comment indentation
  build/Version.props
  src/DMAPI/tgs.dm
  tests/Tgstation.Server.Tests/Instance/RepositoryTest.cs
Labels: Area: DMAPI

#1156 Don't tell people to use the port configured during the setup wizard during a step that happens before the setup wizard is ran.
  README.md
Labels: Documentation

#1158 Forward container arguments to dotnet
  build/Version.props
  build/tgs.docker.sh
Labels: Docker, Feature

#1153 Replaces base64 file transfers with streaming
  build/OpenApiValidationSettings.json
  build/Version.props
  docs/API.dox
  src/Tgstation.Server.Api/Models/Byond.cs
  src/Tgstation.Server.Api/Models/ConfigurationFile.cs
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Api/Models/FileTicketResult.cs
  src/Tgstation.Server.Api/Models/Internal/RawData.cs
  src/Tgstation.Server.Api/Models/Limits.cs
  src/Tgstation.Server.Api/Models/LogFile.cs
  src/Tgstation.Server.Api/Routes.cs
  src/Tgstation.Server.Client/AdministrationClient.cs
  src/Tgstation.Server.Client/ApiClient.cs
  src/Tgstation.Server.Client/ApiClientFactory.cs
  src/Tgstation.Server.Client/CachedResponseStream.cs
  src/Tgstation.Server.Client/Components/ByondClient.cs
  src/Tgstation.Server.Client/Components/ConfigurationClient.cs
  src/Tgstation.Server.Client/Components/IByondClient.cs
  src/Tgstation.Server.Client/Components/IConfigurationClient.cs
  src/Tgstation.Server.Client/HttpClientImplementation.cs
  src/Tgstation.Server.Client/IAdministrationClient.cs
  src/Tgstation.Server.Client/IApiClient.cs
  src/Tgstation.Server.Client/Properties/AssemblyInfo.cs
  src/Tgstation.Server.Host/Components/Byond/ByondManager.cs
  src/Tgstation.Server.Host/Components/Byond/IByondManager.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Components/Repository/LibGit2Commands.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  src/Tgstation.Server.Host/Components/StaticFiles/IConfiguration.cs
  src/Tgstation.Server.Host/Controllers/AdministrationController.cs
  src/Tgstation.Server.Host/Controllers/ByondController.cs
  src/Tgstation.Server.Host/Controllers/ConfigurationController.cs
  src/Tgstation.Server.Host/Controllers/LimitedFileStreamResult.cs
  src/Tgstation.Server.Host/Controllers/LimitedFileStreamResultExecutor.cs
  src/Tgstation.Server.Host/Controllers/TransferController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Core/SwaggerConfiguration.cs
  src/Tgstation.Server.Host/IO/DefaultIOManager.cs
  src/Tgstation.Server.Host/IO/IIOManager.cs
  src/Tgstation.Server.Host/IO/ISynchronousIOManager.cs
  src/Tgstation.Server.Host/IO/SynchronousIOManager.cs
  src/Tgstation.Server.Host/Server.cs
  src/Tgstation.Server.Host/Transfer/FileDownloadProvider.cs
  src/Tgstation.Server.Host/Transfer/FileTransferService.cs
  src/Tgstation.Server.Host/Transfer/FileUploadProvider.cs
  src/Tgstation.Server.Host/Transfer/IFileTransferStreamHandler.cs
  src/Tgstation.Server.Host/Transfer/IFileTransferTicketProvider.cs
  src/Tgstation.Server.Host/Transfer/IFileUploadTicket.cs
  tests/Tgstation.Server.Tests/AdministrationTest.cs
  tests/Tgstation.Server.Tests/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/Instance/ConfigurationTest.cs
  tests/Tgstation.Server.Tests/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/RootTest.cs
Labels: API, Client, Controller Issue, Documentation, Performance, Refactor

#1159 Adds additional null checking around test merging
  build/Version.props
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
Labels: Controller Issue, Fix, Release

#1162 Fix bad downgrade migrations for the last time
  build/Version.props
  src/Tgstation.Server.Host/Core/PortAllocator.cs
  src/Tgstation.Server.Host/Database/DatabaseContext.cs
  src/Tgstation.Server.Host/Database/DatabaseSeeder.cs
  src/Tgstation.Server.Host/Database/IDatabaseContext.cs
  tests/Tgstation.Server.Tests/VersionsTest.cs
Labels: Database Issue, Fix, Release

#1165 Updates readme links
  README.md
Labels: Documentation, GitHub

#1171 V3: Adds build directory as parameter to PreCompile.sh
  AssemblyInfo.global.cs
  TGS.Server/Instance/Compiler.cs
  TGS.Server/Instance/PreactionHandler.cs
Labels: Feature, V3

#1172 Adds Pagination and UserGroups to HTTP API
  build/OpenApiValidationSettings.json
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Api/Models/Paginated.cs
  src/Tgstation.Server.Client/AdministrationClient.cs
  src/Tgstation.Server.Client/Components/ByondClient.cs
  src/Tgstation.Server.Client/Components/ChatBotsClient.cs
  src/Tgstation.Server.Client/Components/ConfigurationClient.cs
  src/Tgstation.Server.Client/Components/DreamMakerClient.cs
  src/Tgstation.Server.Client/Components/IByondClient.cs
  src/Tgstation.Server.Client/Components/IChatBotsClient.cs
  src/Tgstation.Server.Client/Components/IConfigurationClient.cs
  src/Tgstation.Server.Client/Components/IDreamMakerClient.cs
  src/Tgstation.Server.Client/Components/IInstanceUserClient.cs
  src/Tgstation.Server.Client/Components/IJobsClient.cs
  src/Tgstation.Server.Client/Components/InstanceUserClient.cs
  src/Tgstation.Server.Client/Components/JobsClient.cs
  src/Tgstation.Server.Client/IAdministrationClient.cs
  src/Tgstation.Server.Client/IInstanceManagerClient.cs
  src/Tgstation.Server.Client/IUsersClient.cs
  src/Tgstation.Server.Client/InstanceManagerClient.cs
  src/Tgstation.Server.Client/PaginatedClient.cs
  src/Tgstation.Server.Client/PaginationSettings.cs
  src/Tgstation.Server.Client/UsersClient.cs
  src/Tgstation.Server.Host/Controllers/AdministrationController.cs
  src/Tgstation.Server.Host/Controllers/ApiController.cs
  src/Tgstation.Server.Host/Controllers/ByondController.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Controllers/ConfigurationController.cs
  src/Tgstation.Server.Host/Controllers/DreamMakerController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Controllers/InstanceUserController.cs
  src/Tgstation.Server.Host/Controllers/JobController.cs
  src/Tgstation.Server.Host/Controllers/PaginatableResult.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
  src/Tgstation.Server.Host/Core/SwaggerConfiguration.cs
  src/Tgstation.Server.Host/Models/ChatBot.cs
  src/Tgstation.Server.Host/Models/ChatChannel.cs
  src/Tgstation.Server.Host/Models/CompileJob.cs
  src/Tgstation.Server.Host/Models/DreamMakerSettings.cs
  src/Tgstation.Server.Host/Models/IApiTransformable.cs
  src/Tgstation.Server.Host/Models/Instance.cs
  src/Tgstation.Server.Host/Models/InstanceUser.cs
  src/Tgstation.Server.Host/Models/Job.cs
  src/Tgstation.Server.Host/Models/OAuthConnection.cs
  src/Tgstation.Server.Host/Models/RepositorySettings.cs
  src/Tgstation.Server.Host/Models/RevisionInformation.cs
  src/Tgstation.Server.Host/Models/TestMerge.cs
  src/Tgstation.Server.Host/Models/User.cs
  tests/Tgstation.Server.Tests/AdministrationTest.cs
  tests/Tgstation.Server.Tests/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/Instance/ChatTest.cs
  tests/Tgstation.Server.Tests/InstanceManagerTest.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
  tests/Tgstation.Server.Tests/UsersTest.cs
Labels: Client, Controller Issue, Feature, HTTP API, Refactor

#1174 Fix 500 with graceful restart of offline watchdog
  build/Version.props
  src/Tgstation.Server.Host/Controllers/DreamDaemonController.cs
Labels: Area: Watchdog, Controller Issue, Fix

#1178 Api fixups
  build/Version.props
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Api/Models/Internal/ServerInformation.cs
  src/Tgstation.Server.Host/Configuration/GeneralConfiguration.cs
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
  src/Tgstation.Server.Host/Controllers/UserGroupController.cs
  src/Tgstation.Server.Host/appsettings.json
  tests/Tgstation.Server.Tests/RootTest.cs
  tests/Tgstation.Server.Tests/TestingServer.cs
Labels: Configuration, Controller Issue, Fix, HTTP API
