Repository tgstation/tgstation-server, pull requests merged in 2021-08, with the labels that each got.

#1291 Better session persistence
  src/Tgstation.Server.Host/Components/Session/ISessionController.cs
  src/Tgstation.Server.Host/Components/Session/ISessionPersistor.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionPersistor.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/PosixWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Components/Watchdog/WindowsWatchdog.cs
Labels: Feature, Area: Watchdog

#1292 Add submodule updates
  src/Tgstation.Server.Api/Models/Request/RepositoryUpdateRequest.cs
  src/Tgstation.Server.Host/Components/Events/EventType.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Repository/IRepository.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
Labels: Feature, HTTP API, Area: Repository, Component Issue

#1290 Adds the accessible property to InstanceResponse
  build/Version.props
  src/Tgstation.Server.Api/Models/Response/InstanceResponse.cs
  src/Tgstation.Server.Host/Controllers/ApiController.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Controllers/JobController.cs
  tests/Tgstation.Server.Tests/InstanceManagerTest.cs
Labels: Feature, HTTP API, Controller Issue

#1294 Update webpanel to version 2.3.0
  build/ControlPanelVersion.props
Labels: Client

#1297 Compilation event script improvements
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Events/EventType.cs
Labels: Feature, Area: Compiler

#1302 Remora refactor
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Message.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordForwardingResponder.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IDiscordResponders.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/IO/DefaultIOManager.cs
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Host.Tests/Components/Chat/Providers/TestDiscordProvider.cs
Labels: Refactor, Fix, Area: Chat

#1307 Wirewraith, what the hell?
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
Labels: Fix, Area: Repository, Area: Compiler, Component Issue, Area: Instance

#1311 Patch Batch
  build/Version.props
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Components/Instance.cs
Labels: Fix, Area: Chat
