Repository tgstation/tgstation-server, pull requests merged in 2021-01, with the labels that each got.

#1180 Late hour fixes
  build/Version.props
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Api/Models/Internal/User.cs
  src/Tgstation.Server.Api/Models/Internal/UserBase.cs
  src/Tgstation.Server.Api/Models/Internal/UserGroup.cs
  src/Tgstation.Server.Api/Models/Internal/UserGroupBase.cs
  src/Tgstation.Server.Api/Models/User.cs
  src/Tgstation.Server.Api/Models/UserGroup.cs
  src/Tgstation.Server.Client/IUsersClient.cs
  src/Tgstation.Server.Client/UsersClient.cs
  src/Tgstation.Server.Host/Components/InstanceManager.cs
  src/Tgstation.Server.Host/Controllers/ApiController.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
  src/Tgstation.Server.Host/Controllers/UserGroupController.cs
  src/Tgstation.Server.Host/Core/SwaggerConfiguration.cs
  src/Tgstation.Server.Host/Database/DatabaseContext.cs
  src/Tgstation.Server.Host/Database/Migrations/20201222175532_SLAddSwarmIdentifer.cs
  src/Tgstation.Server.Host/Models/PermissionSet.cs
  src/Tgstation.Server.Host/Models/User.cs
  src/Tgstation.Server.Host/Models/UserGroup.cs
  src/Tgstation.Server.Host/Security/IAuthenticationContextFactory.cs
  src/Tgstation.Server.Host/Security/ITokenFactory.cs
  src/Tgstation.Server.Host/Security/IdentityCache.cs
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Tests/IntegrationTest.cs
  tests/Tgstation.Server.Tests/RawRequestTests.cs
  tests/Tgstation.Server.Tests/UsersTest.cs
  tests/Tgstation.Server.Tests/VersionsTest.cs
Labels: Client, Controller Issue, Fix, HTTP API, Swarm

#1182 Updates TGS to webpanel 2.0.1 on the dev branch. This is the first version to support 8.x.x (and drop 7.x.x)
  build/ControlPanelVersion.props
Labels: Client

#1184 Update README.md because theres a missing comma
  README.md
Labels: Documentation

#1186 Fix 500 error when reading old compile jobs
  build/Version.props
  src/Tgstation.Server.Host/Models/CompileJob.cs
Labels: Controller Issue, Fix

#1187 Add a null check for the OAuth config section
  src/Tgstation.Server.Host/Security/OAuth/OAuthProviders.cs
  tests/Tgstation.Server.Tests/TestingServer.cs
Labels: Fix, Security

#1188 Fix pagination bug
  build/Version.props
  src/Tgstation.Server.Api/Models/Internal/ChatBot.cs
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/IChatManager.cs
  src/Tgstation.Server.Host/Controllers/AdministrationController.cs
  src/Tgstation.Server.Host/Controllers/ByondController.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Controllers/ConfigurationController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Controllers/InstancePermissionSetController.cs
  src/Tgstation.Server.Host/Controllers/PaginatableResult.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
  src/Tgstation.Server.Host/Controllers/UserGroupController.cs
  src/Tgstation.Server.Host/Models/ChatChannel.cs
Labels: Controller Issue, Fix

#1189 Add missing 410 response to PATCH /Instance/{id}
  build/Version.props
  src/Tgstation.Server.Host/Components/Repository/GitHubRemoteFeatures.cs
  src/Tgstation.Server.Host/Components/Repository/GitLabRemoteFeatures.cs
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  tests/Tgstation.Server.Tests/InstanceManagerTest.cs
Labels: Controller Issue, HTTP API, Oversight

#1192 [READY] Adds an event script for triggering events when DD is ended with TgsEndProcess()
  build/Version.props
  src/DMAPI/tgs.dm
  src/Tgstation.Server.Host/Components/Events/EventType.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
Labels: Area: Static Files, Feature

#1196 Release notes now credit pull request authors
  tools/ReleaseNotes/Program.cs
Labels: CI/CD, Feature

#1195 Fix ListCompileJobs only returning EntityIds
  build/Version.props
  src/Tgstation.Server.Client/Components/DreamMakerClient.cs
  src/Tgstation.Server.Client/Components/IDreamMakerClient.cs
Labels: Client, Fix

#1197 Infinitely cache .js files served from /app
  src/Tgstation.Server.Host/Controllers/ControlPanelController.cs
Labels: Performance

#1200 Adds more events
  src/DMAPI/tgs.dm
  src/Tgstation.Server.Host/Components/Events/EventType.cs
  src/Tgstation.Server.Host/Components/Session/ISessionController.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/MonitorActivationReason.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  tgstation-server.sln
Labels: Area: DMAPI, Area: Watchdog, Feature, Fix

#1203 Add missing console logging to service configuring
  build/Version.props
  src/Tgstation.Server.Host.Service/Program.cs
  src/Tgstation.Server.Host.Service/Tgstation.Server.Host.Service.csproj
  src/Tgstation.Server.Host/Program.cs
  src/Tgstation.Server.Host/Properties/MasterVersionsAttribute.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
Labels: Host Watchdog Change, Oversight

#1202 Yaml config files
  .dockerignore
  .github/CONTRIBUTING.md
  .gitignore
  README.md
  build/Version.props
  build/tgs.docker.sh
  docs/Architecture.dox
  src/Tgstation.Server.Host.Watchdog/Tgstation.Server.Host.Watchdog.csproj
  src/Tgstation.Server.Host.Watchdog/Watchdog.cs
  src/Tgstation.Server.Host/Configuration/README.md
  src/Tgstation.Server.Host/Database/MySqlDatabaseContext.cs
  src/Tgstation.Server.Host/Extensions/Converters/VersionConverter.cs
  src/Tgstation.Server.Host/README.md
  src/Tgstation.Server.Host/ServerFactory.cs
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
  src/Tgstation.Server.Host/Setup/SetupWizardMode.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  src/Tgstation.Server.Host/appsettings.json
  src/Tgstation.Server.Host/appsettings.yml
  tests/Tgstation.Server.Host.Tests/Extensions/Converters/TestVersionConverter.cs
  tests/Tgstation.Server.Host.Tests/Extensions/TestServiceCollectionExtensions.cs
  tests/Tgstation.Server.Tests/TestingServer.cs
Labels: Configuration, Feature

#1204 Separate the DMAPI version from Interop Version
  .gitignore
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/core/core.dm
  src/DMAPI/tgs/v4/api.dm
  src/DMAPI/tgs/v5/api.dm
  src/DMAPI/tgs/v5/interop_version.dm
  src/Tgstation.Server.Api/Models/ServerInformation.cs
  src/Tgstation.Server.Host/Components/Interop/DMApiConstants.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Properties/MasterVersionsAttribute.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/DMAPI/BasicOperation/Test.dm
  tests/Tgstation.Server.Tests/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/VersionsTest.cs
  tgstation-server.sln
  tools/ReleaseNotes/Program.cs
Labels: Area: DMAPI, Refactor

#1208 v4.8.1
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/v5/api.dm
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Core/PortAllocator.cs
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
Labels: Area: DMAPI, Documentation, Fix, Release

#1209 v4.8.2
  .github/workflows/ci-suite.yml
  README.md
  build/Version.props
  src/Tgstation.Server.Host/Controllers/SwarmController.cs
  src/Tgstation.Server.Host/Core/GitHubClientFactory.cs
  src/Tgstation.Server.Host/Core/IGitHubClientFactory.cs
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  tests/Tgstation.Server.Host.Tests/Core/TestGitHubClientFactory.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
Labels: Fix, Release

#1213 Adds Webpanel Channels
  build/ControlPanelVersion.props
  build/Version.props
  src/Tgstation.Server.Host/Configuration/ControlPanelConfiguration.cs
  src/Tgstation.Server.Host/Controllers/ControlPanelController.cs
  src/Tgstation.Server.Host/Properties/MasterVersionsAttribute.cs
  src/Tgstation.Server.Host/appsettings.yml
Labels: Configuration, Feature

#1214 v4.9.0
  build/ControlPanelVersion.props
  build/Version.props
  src/Tgstation.Server.Host/Configuration/ControlPanelConfiguration.cs
  src/Tgstation.Server.Host/Controllers/ControlPanelController.cs
  src/Tgstation.Server.Host/Properties/MasterVersionsAttribute.cs
  src/Tgstation.Server.Host/appsettings.yml
Labels: Release

#1216 Return 400 instead of 401 for Authentication header issues
  src/Tgstation.Server.Host/Controllers/ApiController.cs
  tests/Tgstation.Server.Tests/RawRequestTests.cs
Labels: Fix, HTTP API
