Repository tgstation/tgstation-server, pull requests merged in 2021-05, with the labels that each got.

#1253 Fix listing jobs not returning progress
  src/Tgstation.Server.Host/Controllers/JobController.cs
  src/Tgstation.Server.Host/Jobs/IJobManager.cs
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  tests/Tgstation.Server.Tests/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/TestingServer.cs
Labels: Fix

#1254 v4.11.0
  build/Version.props
  src/DMAPI/tgs.dm
  src/Tgstation.Server.Host/Components/Events/EventType.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Components/Session/ISessionControllerFactory.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
Labels: Release

#1257 Attempts to fix CI
  .github/workflows/ci-suite.yml
Labels: CI/CD, GitHub

#1262 Attempts to fix CI some more
  .github/workflows/ci-suite.yml
Labels: CI/CD, GitHub

#1261 Fixes Discord bot reconnection issue
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
Labels: Area: Chat, Fix

#1259 Fixes bad total pages display
  src/Tgstation.Server.Host/Controllers/ApiController.cs
  tests/Tgstation.Server.Tests/InstanceManagerTest.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
Labels: Controller Issue, Fix

#1258 Fixes being unable to create passwordless IRC bots
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  tests/Tgstation.Server.Host.Tests/Components/Chat/Providers/TestIrcProvider.cs
Labels: Area: Chat, Fix

#1264 More CI memes
  .github/workflows/ci-suite.yml
Labels: CI/CD, GitHub
