Repository tgstation/tgstation-server, pull requests merged in 2021-06, with the labels that each got.

#1269 Forcefully unauthorize TGS system user logins
  src/Tgstation.Server.Host/Controllers/HomeController.cs
Labels: Fix

#1273 v4.12.0
  build/ControlPanelVersion.props
  build/Version.props
Labels: Release

#1271 keycloak is a supported provider
  README.md
Labels: Documentation

#1274 Fix default config nonsense
  .github/workflows/ci-suite.yml
  src/Tgstation.Server.Host/Controllers/ControlPanelController.cs
Labels: Fix, GitHub

#1277 Elasticsearch log ingest support
  README.md
  build/Version.props
  src/Tgstation.Server.Host/Configuration/ElasticsearchConfiguration.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Extensions/ServiceCollectionExtensions.cs
  src/Tgstation.Server.Host/Setup/IPostSetupServices.cs
  src/Tgstation.Server.Host/Setup/PostSetupServices.cs
  src/Tgstation.Server.Host/Setup/SetupApplication.cs
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Host.Tests/Setup/TestSetupWizard.cs
Labels: Configuration, Feature, Logging

#1282 Potential fix for process suspension failure
  build/Version.props
  src/Tgstation.Server.Host/System/IProcessFeatures.cs
  src/Tgstation.Server.Host/System/WindowsProcessFeatures.cs
  tests/Tgstation.Server.Host.Tests/System/TestProcessFeatures.cs
  tests/Tgstation.Server.Tests/Instance/WatchdogTest.cs
Labels: Area: Watchdog, Fix, Release, Watchdog: Windows, Windows Only

#1283 Fix single server swarms update deadlock
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
Labels: Fix, Swarm
