Repository tgstation/tgstation-server, pull requests merged in 2022-07, with the labels that each got.

#1367 A webedit to force a release
  README.md
Labels: GitHub, Oversight, Release

#1368 Job inner exception logging - Stealing Mark's PR
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  tests/Tgstation.Server.Host.Tests/Jobs/TestJobException.cs
Labels: Fix, Feature, Area: Jobs

#1369 Version bump to 4.17.1
  build/Version.props
Labels: Release

#1363 Fix revision command using local revision
  src/Tgstation.Server.Host/Components/Chat/Commands/RevisionCommand.cs
Labels: Fix, Area: Chat

#1370 Invision Community OAuth Support
  build/Version.props
  src/Tgstation.Server.Api/Models/OAuthProvider.cs
  src/Tgstation.Server.Host/Security/OAuth/InvisionCommunityOAuthValidator.cs
  src/Tgstation.Server.Host/Security/OAuth/OAuthProviders.cs
Labels: Feature, Security, HTTP API
