Repository tgstation/tgstation-server, pull requests merged in 2022-02, with the labels that each got.

#1358 Fix RepositoryRights.SetSha and SetReference being able to be bypassed. Fix repo tracking error
  build/Version.props
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
Labels: Fix, Security, Area: Repository, Controller Issue, Component Issue

#1359 Make the DMAPI didn't validate error more descriptive
  build/Version.props
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
  tests/Tgstation.Server.Tests/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/UsersTest.cs
Labels: Documentation, HTTP API

#1360 Fix git log reading for tgsv3
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/v3210/api.dm
  src/Tgstation.Server.Host/Components/Byond/ByondManager.cs
  src/Tgstation.Server.Host/Components/InstanceManager.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Security/IdentityCache.cs
Labels: Fix, Area: DMAPI, V3, Logging
