Repository tgstation/tgstation-server, pull requests merged in 2022-09, with the labels that each got.

#1385 Fix release issues (5.0.1)
  build/Version.props
  src/Tgstation.Server.Host/Components/InstanceManager.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/ServerFactory.cs
  tests/Tgstation.Server.Tests/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
  tests/Tgstation.Server.Tests/TestingServer.cs
Labels: Fix, Logging, Area: Watchdog, Release

#1388 Set Cache-Control: no-cache for API responses
  build/Version.props
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Extensions/ApplicationBuilderExtensions.cs
Labels: Fix, Controller Issue, Release

#1389 Minor grammar correction
  README.md
Labels: Documentation, Spelling/Grammar, Host Watchdog Change, Windows Only, Release

#1390 Fix repository rights not being counted
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
Labels: Fix, Controller Issue, Release, Area: Instance

#1391 Remove another tgstation-server 4 reference
  build/Version.props
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
Labels: Fix, Release

#1392 Migrator application for converting TGS3 instances to TGS5 instances while simultaneously installing TGS5 and disabling TGS3
  build/Version.props
  src/Tgstation.Server.Api/ApiHeaders.cs
  src/Tgstation.Server.Api/Tgstation.Server.Api.csproj
  src/Tgstation.Server.Client/ApiClient.cs
  src/Tgstation.Server.Client/CachedResponseStream.cs
  src/Tgstation.Server.Client/Components/ByondClient.cs
  src/Tgstation.Server.Client/Components/ConfigurationClient.cs
  src/Tgstation.Server.Client/Components/IByondClient.cs
  src/Tgstation.Server.Client/Tgstation.Server.Client.csproj
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Configuration/ElasticsearchConfiguration.cs
  src/Tgstation.Server.Host/Configuration/OAuthConfiguration.cs
  src/Tgstation.Server.Host/Configuration/OAuthConfigurationBase.cs
  src/Tgstation.Server.Host/Configuration/SecurityConfiguration.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/IServerFactory.cs
  src/Tgstation.Server.Host/Security/OAuth/TGForumsOAuthValidator.cs
  src/Tgstation.Server.Host/Setup/IPostSetupServices.cs
  src/Tgstation.Server.Host/Setup/SetupApplication.cs
  tgstation-server.sln
  tools/Tgstation.Server.Migrator.Comms/Program.cs
  tools/Tgstation.Server.Migrator.Comms/Tgstation.Server.Migrator.Comms.csproj
  tools/Tgstation.Server.Migrator/Program.cs
  tools/Tgstation.Server.Migrator/Tgstation.Server.Migrator.csproj
Labels: Client, Fix, Feature, Code Improvement, V3, Logging, Tools

#1393 Add a way to skip the BYOND firewall exemption step with config
  build/Version.props
  src/Tgstation.Server.Host/Components/Byond/WindowsByondInstaller.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Configuration/GeneralConfiguration.cs
  src/Tgstation.Server.Host/appsettings.yml
  tests/Tgstation.Server.Tests/Instance/ByondTest.cs
Labels: Fix, Area: Byond, Configuration, Release

#1394 Updates webpanel, adding support for public path
  build/ControlPanelVersion.props
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Controllers/ControlPanelController.cs
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Database/MySqlDatabaseContext.cs
  src/Tgstation.Server.Host/Database/PostgresSqlDatabaseContext.cs
  src/Tgstation.Server.Host/Database/SqlServerDatabaseContext.cs
  src/Tgstation.Server.Host/Database/SqliteDatabaseContext.cs
Labels: Fix, Feature, Area: Chat, Component Issue, Release

#1396 Various fixes (5.1.1)
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Repository/IGitRemoteAdditionalInformation.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
Labels: Fix, Release
