Repository tgstation/tgstation-server, pull requests merged in 2022-10, with the labels that each got.

#1397 Various fixes (5.1.2)
  build/Version.props
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitHubRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitLabRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Components/Repository/RepositoryManager.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  src/Tgstation.Server.Host/Controllers/ByondController.cs
  src/Tgstation.Server.Host/Controllers/ConfigurationController.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
  src/Tgstation.Server.Host/IO/SynchronousIOManager.cs
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  src/Tgstation.Server.Host/Jobs/JobProgressReporter.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
Labels: Fix, Area: Repository, Area: Static Files, Release

#1401 Irc fix (5.1.3)
  build/Version.props
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
Labels: Fix, Area: Chat, Release

#1402 Add option to disable branding on deployment embed
  build/Version.props
  src/Tgstation.Server.Api/Models/DiscordConnectionStringBuilder.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
Labels: Feature, Area: Chat

#1404 Fix repository update job cancellation tokens (5.1.4)
  build/Version.props
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
Labels: Fix, Area: Repository, Controller Issue, Release

#1405 The webpanel is feature complete
  build/ControlPanelVersion.props
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
Labels: Feature

#1406 Auto-update test merges fix
  src/Tgstation.Server.Host/Components/Deployment/Remote/BaseRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitHubRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitLabRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/IRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/NoOpRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Repository/RepositoryUpdateService.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
Labels: Refactor, Fix, Area: Repository, Controller Issue, Component Issue, Area: Instance

#1407 v5.2.0
  build/ControlPanelVersion.props
  build/Version.props
  src/Tgstation.Server.Api/Models/DiscordConnectionStringBuilder.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/BaseRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitHubRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitLabRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/IRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/NoOpRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Repository/RepositoryUpdateService.cs
  src/Tgstation.Server.Host/Controllers/RepositoryController.cs
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
Labels: Release

#1408 Service installer will now ask to remove old ones
  src/Tgstation.Server.Host.Service/Program.cs
Labels: Feature, Host Watchdog Change, Windows Only

#1409 Directory copying improvements (5.2.1)
  build/Version.props
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Components/Repository/RepositoryManager.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  src/Tgstation.Server.Host/IO/DefaultIOManager.cs
  src/Tgstation.Server.Host/IO/IIOManager.cs
  src/Tgstation.Server.Host/IO/IPostWriteHandler.cs
  src/Tgstation.Server.Host/IO/PosixPostWriteHandler.cs
  src/Tgstation.Server.Host/IO/WindowsPostWriteHandler.cs
  tests/Tgstation.Server.Host.Tests/IO/TestPostWriteHandler.cs
  tests/Tgstation.Server.Tests/IntegrationTest.cs
Labels: Fix, Performance, Area: Repository

#1410 Discord fixes (5.2.2)
  build/Version.props
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
Labels: Fix, Area: Chat, Component Issue

#1414 DMAPI 515 compat for TGS3
  .github/workflows/ci-suite.yml
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/v3210/api.dm
  tests/Tgstation.Server.Tests/Instance/ByondTest.cs
Labels: Fix, Priority: High, GitHub, Area: DMAPI

#1415 Fix GitHub rate limits stopping watchdog from launching
  build/Version.props
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Controllers/UserController.cs
Labels: Fix, Area: Watchdog, Release
