Repository tgstation/tgstation-server, pull requests merged in 2023-03, with the labels that each got.

#1433 Detaching a deleted instance doesn't throw
  build/Version.props
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitHubRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
Labels: Fix, Release, Area: Instance

#1434 Disable delayed autostart for Windows Service
  build/Version.props
  src/Tgstation.Server.Host.Service/Program.cs
  tools/Tgstation.Server.Migrator/Program.cs
Labels: Performance, Host Watchdog Change, Tools, Release

#1435 Discord Replies and some other stuff
  README.md
  build/Version.props
  src/Tgstation.Server.Api/Models/Internal/ChatBotApiBase.cs
  src/Tgstation.Server.Api/Tgstation.Server.Api.csproj
  src/Tgstation.Server.Host.Console/Program.cs
  src/Tgstation.Server.Host.Console/Tgstation.Server.Host.Console.csproj
  src/Tgstation.Server.Host.Service/Program.cs
  src/Tgstation.Server.Host.Service/ServerService.cs
  src/Tgstation.Server.Host.Service/Tgstation.Server.Host.Service.csproj
  src/Tgstation.Server.Host/.config/dotnet-tools.json
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Message.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordMessage.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Extensions/ServiceCollectionExtensions.cs
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Api.Tests/Tgstation.Server.Api.Tests.csproj
  tests/Tgstation.Server.Client.Tests/Tgstation.Server.Client.Tests.csproj
  tests/Tgstation.Server.Host.Console.Tests/Tgstation.Server.Host.Console.Tests.csproj
  tests/Tgstation.Server.Host.Service.Tests/TestServerService.cs
  tests/Tgstation.Server.Host.Service.Tests/Tgstation.Server.Host.Service.Tests.csproj
  tests/Tgstation.Server.Host.Tests.Signals/Tgstation.Server.Host.Tests.Signals.csproj
  tests/Tgstation.Server.Host.Tests/Tgstation.Server.Host.Tests.csproj
  tests/Tgstation.Server.Host.Watchdog.Tests/Tgstation.Server.Host.Watchdog.Tests.csproj
  tests/Tgstation.Server.Tests/IntegrationTest.cs
  tests/Tgstation.Server.Tests/Tgstation.Server.Tests.csproj
  tools/ReleaseNotes/Program.cs
  tools/ReleaseNotes/ReleaseNotes.csproj
Labels: Fix, Feature, Area: Chat, Host Watchdog Change, Windows Only, Tools

#1440 Updated elgohr/Publish-Docker-Github-Action to a supported version (v5)
  .github/workflows/ci-suite.yml
Labels: CI/CD, GitHub
