Repository tgstation/tgstation-server, pull requests merged in 2023-01, with the labels that each got.

#1421 Minor config fix
  .github/workflows/ci-suite.yml
  build/Dockerfile
  build/Version.props
  src/Tgstation.Server.Api/Tgstation.Server.Api.csproj
  src/Tgstation.Server.Host/Controllers/HomeController.cs
Labels: Fix, GitHub, Controller Issue, Release

#1425 Close the test DB connection
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
Labels: Fix, Windows Only, Database Issue

#1423 EventScript for when a deployment dir is cleared
  src/Tgstation.Server.Host/Components/Deployment/DmbFactory.cs
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Events/EventType.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
Labels: Feature, Area: Compiler

#1426 Channel ID API change
  build/Version.props
  src/Tgstation.Server.Api/Models/ChatChannel.cs
  src/Tgstation.Server.Api/Models/Internal/ChatBotApiBase.cs
  src/Tgstation.Server.Api/Models/Internal/ChatChannelBase.cs
  src/Tgstation.Server.Api/Tgstation.Server.Api.csproj
  src/Tgstation.Server.Client/Tgstation.Server.Client.csproj
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/IChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Extensions/ChatChannelExtensions.cs
  src/Tgstation.Server.Host/Models/ChatBot.cs
  src/Tgstation.Server.Host/Models/ChatChannel.cs
  tests/Tgstation.Server.Tests/Instance/ChatTest.cs
  tools/Tgstation.Server.Migrator.Comms/Program.cs
Labels: Refactor, HTTP API, Area: Chat, Tools

#1427 v5.3.0
  .github/workflows/ci-suite.yml
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/core/README.md
  src/DMAPI/tgs/v3210/api.dm
  src/Tgstation.Server.Api/Models/ChatChannel.cs
  src/Tgstation.Server.Api/Models/Internal/ChatBotApiBase.cs
  src/Tgstation.Server.Api/Models/Internal/ChatChannelBase.cs
  src/Tgstation.Server.Api/Tgstation.Server.Api.csproj
  src/Tgstation.Server.Client/Tgstation.Server.Client.csproj
  src/Tgstation.Server.Host.Service/Program.cs
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/IChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Components/Deployment/DmbFactory.cs
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitHubRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Events/EventType.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Extensions/ChatChannelExtensions.cs
  src/Tgstation.Server.Host/Models/ChatBot.cs
  src/Tgstation.Server.Host/Models/ChatChannel.cs
  tests/Tgstation.Server.Tests/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/Instance/ChatTest.cs
  tools/Tgstation.Server.Migrator.Comms/Program.cs
Labels: GitHub, Tools, Release
