Repository tgstation/tgstation-server, pull requests merged in 2023-05, with the labels that each got.

#1483 Minorest of changes
  src/Tgstation.Server.Host/Components/README.md
  src/Tgstation.Server.Host/Core/README.md
  src/Tgstation.Server.Host/IO/WindowsSymlinkFactory.cs
  src/Tgstation.Server.Host/README.md
  src/Tgstation.Server.Host/Security/WindowsSystemIdentityFactory.cs
  src/Tgstation.Server.Host/System/NativeMethods.cs
  src/Tgstation.Server.Host/System/WindowsProcessFeatures.cs
  src/Tgstation.Server.Host/Utils/README.md
Labels: Refactor, Documentation

#1485 Add missing events to DMAPI + Upgrade libgit2
  .github/workflows/ci-suite.yml
  README.md
  build/Dockerfile
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/v3210/api.dm
  src/Tgstation.Server.Host/Components/Byond/ByondInstallerBase.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Core/ServerUpdater.cs
  src/Tgstation.Server.Host/IO/FileDownloader.cs
  src/Tgstation.Server.Host/IO/IFileDownloader.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/Tgstation.Server.Host.Tests/Components/Byond/TestPosixByondInstaller.cs
  tests/Tgstation.Server.Tests/Live/LiveTestingServer.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
  tools/Tgstation.Server.Migrator/Program.cs
Labels: GitHub, Area: DMAPI, Logging, Area: Repository, Tools

#1487 Fix exploit allowing for the reading of discord connection strings.
  build/Version.props
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  tests/Tgstation.Server.Tests/Live/Instance/ChatTest.cs
Labels: Priority: CRITICAL, Security, Controller Issue, Area: Chat

#1484 Test the Basic watchdog and Debug mode on Linux
  .github/workflows/ci-suite.yml
Labels: CI/CD, GitHub

#1492 Publish Tgstation.Server.Common to Nuget
  .github/workflows/ci-suite.yml
  src/Tgstation.Server.Api/Tgstation.Server.Api.csproj
  src/Tgstation.Server.Client/Tgstation.Server.Client.csproj
  src/Tgstation.Server.Common/Tgstation.Server.Common.csproj
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Extensions/WebHostBuilderExtensions.cs
Labels: Client, Fix, GitHub

#1493 Fix potentially sending DMAPI messages to the wrong channels after a TGS restart
  .github/CONTRIBUTING.md
  .github/workflows/ci-suite.yml
  build/Version.props
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/v4/api.dm
  src/DMAPI/tgs/v5/api.dm
  src/DMAPI/tgs/v5/bridge.dm
  src/DMAPI/tgs/v5/topic.dm
  src/Tgstation.Server.Host/Components/Chat/ChannelRepresentation.cs
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/ChatTrackingContext.cs
  src/Tgstation.Server.Host/Components/Chat/IChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/ProviderFactory.cs
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Controllers/ChatController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Extensions/ServiceCollectionExtensions.cs
  src/Tgstation.Server.Host/Server.cs
  tests/DMAPI/ApiFree/Test.dm
  tests/DMAPI/ApiFree/api_free.dme
  tests/DMAPI/BasicOperation/Test.dm
  tests/DMAPI/BasicOperation/basic_operation_test.dme
  tests/DMAPI/LongRunning/Test.dm
  tests/DMAPI/LongRunning/long_running_test.dme
  tests/DMAPI/LongRunning/long_running_test_copy.dme
  tests/DMAPI/test_prelude.dm
  tests/DMAPI/test_setup.dm
  tests/Tgstation.Server.Host.Tests/Components/Chat/Providers/TestDiscordProvider.cs
  tests/Tgstation.Server.Host.Tests/Components/Chat/Providers/TestIrcProvider.cs
  tests/Tgstation.Server.Tests/Live/DummyChatProvider.cs
  tests/Tgstation.Server.Tests/Live/DummyChatProviderFactory.cs
  tests/Tgstation.Server.Tests/Live/Instance/ChatTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/InstanceTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
  tgstation-server.sln
Labels: Fix, Priority: CRITICAL, CI/CD, GitHub, Area: DMAPI, Area: Chat, Area: Watchdog, Component Issue, Regression Test

#1499 Topic Retries + Live Test fails on logged errors
  .github/workflows/ci-suite.yml
  build/Version.props
  src/DMAPI/tgs/v5/__interop_version.dm
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Chat/Commands/ByondCommand.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Components/Deployment/DmbFactory.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Interop/Topic/TopicParameters.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Configuration/UpdatesConfiguration.cs
  src/Tgstation.Server.Host/Core/ServerUpdater.cs
  src/Tgstation.Server.Host/Extensions/ServiceCollectionExtensions.cs
  src/Tgstation.Server.Host/IO/DefaultIOManager.cs
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  tests/DMAPI/LongRunning/Config.dm
  tests/DMAPI/LongRunning/Test.dm
  tests/Tgstation.Server.Tests/Live/DummyChatProvider.cs
  tests/Tgstation.Server.Tests/Live/DummyChatProviderFactory.cs
  tests/Tgstation.Server.Tests/Live/HardFailLogger.cs
  tests/Tgstation.Server.Tests/Live/HardFailLoggerProvider.cs
  tests/Tgstation.Server.Tests/Live/Instance/ChatTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/Live/InstanceManagerTest.cs
  tests/Tgstation.Server.Tests/Live/LiveTestingServer.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: Fix, Feature, GitHub, Area: DMAPI, Area: Chat

#1494 Nightlies
  .github/workflows/auto-approve-dominions-prs.yml
  .github/workflows/ci-suite.yml
Labels: CI/CD, GitHub

#1502 Double custom uploads fix (v5.12.3 release)
  build/Version.props
  src/DMAPI/tgs.dm
  src/Tgstation.Server.Client/ApiClient.cs
  src/Tgstation.Server.Client/Tgstation.Server.Client.csproj
  src/Tgstation.Server.Host/Components/Byond/ByondManager.cs
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  tests/Tgstation.Server.Tests/Live/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: Client, Fix, Area: Byond, Regression Test

#1505 Master merge
  build/Version.props
  src/DMAPI/tgs.dm
  src/Tgstation.Server.Client/ApiClient.cs
  src/Tgstation.Server.Host/Components/Byond/ByondManager.cs
  src/Tgstation.Server.Host/Jobs/JobManager.cs
  tests/Tgstation.Server.Tests/Live/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: CI/CD

#1503 Fix cron scheduled jobs trying to do PR checkouts
  .github/workflows/ci-suite.yml
Labels: Fix, CI/CD, GitHub
