Repository tgstation/tgstation-server, pull requests merged in 2023-06, with the labels that each got.

#1507 Fix server applying the deployment low priority config to live servers and the live server priority config to deployments.
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
Labels: Fix, Area: Watchdog

#1506 Test logging DreamDaemon output works
  build/Version.props
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
  src/Tgstation.Server.Host/Core/ServerUpdater.cs
  tests/DMAPI/test_setup.dm
  tests/Tgstation.Server.Tests/Live/DummyChatProvider.cs
  tests/Tgstation.Server.Tests/Live/Instance/DeploymentTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/InstanceTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/Live/LiveTestingServer.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: Fix, Logging, Regression Test

#1509 Work around for potential deadlock in DiscordProvider Dispose
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
Labels: Fix, Area: Chat

#1510 Fix bad swarm abort calls
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
Labels: Fix, Swarm

#1512 Finish filling out database CI matricies
  .github/workflows/ci-suite.yml
  tests/Tgstation.Server.Tests/Live/HardFailLogger.cs
Labels: CI/CD, GitHub

#1513 `--staged` param for `prs` chat command
  src/Tgstation.Server.Host/Components/Chat/Commands/CommandFactory.cs
  src/Tgstation.Server.Host/Components/Chat/Commands/PullRequestsCommand.cs
  src/Tgstation.Server.Host/Components/Chat/Commands/RevisionCommand.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Controllers/DreamDaemonController.cs
  tests/Tgstation.Server.Tests/Live/DummyChatProviderFactory.cs
Labels: Feature, Area: Chat

#1516 DMAPI Health Check Event
  build/Version.props
  docs/Features.dox
  src/DMAPI/tgs.dm
  src/DMAPI/tgs/LICENSE
  src/DMAPI/tgs/v5/_defines.dm
  src/DMAPI/tgs/v5/topic.dm
  src/DMAPI/tgs/v5/undefs.dm
  src/Tgstation.Server.Api/Models/Internal/DreamDaemonLaunchParameters.cs
  src/Tgstation.Server.Api/Rights/DreamDaemonRights.cs
  src/Tgstation.Server.Host/Components/Interop/Topic/TopicCommandType.cs
  src/Tgstation.Server.Host/Components/Interop/Topic/TopicParameters.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/MonitorActivationReason.cs
  src/Tgstation.Server.Host/Components/Watchdog/README.md
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Controllers/DreamDaemonController.cs
  tests/DMAPI/LongRunning/Test.dm
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
Labels: Feature, Documentation, HTTP API, Area: DMAPI

#1515 GitHub Abstraction + BYOND Download Caching (Sorry Lummox)
  .github/workflows/ci-suite.yml
  src/Tgstation.Server.Host/Components/Byond/IByondManager.cs
  src/Tgstation.Server.Host/Components/Chat/IChatManager.cs
  src/Tgstation.Server.Host/Components/Deployment/DmbFactory.cs
  src/Tgstation.Server.Host/Components/Deployment/IDmbFactory.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/GitHubRemoteDeploymentManager.cs
  src/Tgstation.Server.Host/Components/Deployment/Remote/RemoteDeploymentManagerFactory.cs
  src/Tgstation.Server.Host/Components/IComponentService.cs
  src/Tgstation.Server.Host/Components/IInstance.cs
  src/Tgstation.Server.Host/Components/IInstanceFactory.cs
  src/Tgstation.Server.Host/Components/InstanceManager.cs
  src/Tgstation.Server.Host/Components/Repository/GitHubRemoteFeatures.cs
  src/Tgstation.Server.Host/Components/Repository/GitRemoteFeaturesFactory.cs
  src/Tgstation.Server.Host/Components/Repository/LibGit2RepositoryFactory.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Components/Repository/RepositoryManager.cs
  src/Tgstation.Server.Host/Components/StaticFiles/IConfiguration.cs
  src/Tgstation.Server.Host/Components/Watchdog/IWatchdog.cs
  src/Tgstation.Server.Host/Configuration/UpdatesConfiguration.cs
  src/Tgstation.Server.Host/Controllers/AdministrationController.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/Core/ServerUpdater.cs
  src/Tgstation.Server.Host/Extensions/ServiceCollectionExtensions.cs
  src/Tgstation.Server.Host/Jobs/IJobManager.cs
  src/Tgstation.Server.Host/Jobs/IJobService.cs
  src/Tgstation.Server.Host/Jobs/JobService.cs
  src/Tgstation.Server.Host/Security/OAuth/GitHubOAuthValidator.cs
  src/Tgstation.Server.Host/Security/OAuth/OAuthProviders.cs
  src/Tgstation.Server.Host/Utils/GitHub/GitHubClientFactory.cs
  src/Tgstation.Server.Host/Utils/GitHub/GitHubService.cs
  src/Tgstation.Server.Host/Utils/GitHub/GitHubServiceFactory.cs
  src/Tgstation.Server.Host/Utils/GitHub/IAuthenticatedGitHubService.cs
  src/Tgstation.Server.Host/Utils/GitHub/IGitHubClientFactory.cs
  src/Tgstation.Server.Host/Utils/GitHub/IGitHubService.cs
  src/Tgstation.Server.Host/Utils/GitHub/IGitHubServiceFactory.cs
  tests/Tgstation.Server.Host.Tests/Components/Chat/Providers/TestDiscordProvider.cs
  tests/Tgstation.Server.Host.Tests/IO/TestSymlinkFactory.cs
  tests/Tgstation.Server.Host.Tests/Swarm/TestSwarmProtocol.cs
  tests/Tgstation.Server.Host.Tests/System/TestProcessFeatures.cs
  tests/Tgstation.Server.Host.Tests/Utils/GitHub/TestGitHubClientFactory.cs
  tests/Tgstation.Server.Host.Tests/Utils/GitHub/TestGitHubServiceFactory.cs
  tests/Tgstation.Server.Tests/Live/CachingFileDownloader.cs
  tests/Tgstation.Server.Tests/Live/DummyChatProvider.cs
  tests/Tgstation.Server.Tests/Live/DummyGitHubService.cs
  tests/Tgstation.Server.Tests/Live/DummyGitHubServiceFactory.cs
  tests/Tgstation.Server.Tests/Live/Instance/ByondTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/InstanceTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/Live/LiveTestUtils.cs
  tests/Tgstation.Server.Tests/Live/LiveTestingServer.cs
  tests/Tgstation.Server.Tests/Live/RateLimitRetryingApiClient.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
  tests/Tgstation.Server.Tests/TestDMApiConstants.cs
  tests/Tgstation.Server.Tests/TestVersions.cs
Labels: Refactor, Fix, CI/CD, GitHub

#1522 CI: skip Doxygen builds on forks
  .github/workflows/ci-suite.yml
Labels: GitHub, CI Cleared

#1518 Fixes for tonights failed scheduled build
  SECURITY.md
  src/Tgstation.Server.Host/Components/Chat/Providers/Provider.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Extensions/TaskExtensions.cs
  src/Tgstation.Server.Host/Jobs/JobHandler.cs
  src/Tgstation.Server.Host/Jobs/JobService.cs
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  tests/Tgstation.Server.Tests/Live/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
Labels: Fix, Area: Jobs

#1526 Fix 500 error on entering a registered Windows login with invalid password
  build/Version.props
  src/Tgstation.Server.Host/Controllers/HomeController.cs
  src/Tgstation.Server.Host/Security/CryptographySuite.cs
Labels: Fix, Priority: CRITICAL, Security, Controller Issue, Windows Only

#1530 Variable for enabling CodeQL + Documentation Updates + CodeCov Secret
  .github/CONTRIBUTING.md
  .github/workflows/auto-approve-dominions-prs.yml
  .github/workflows/ci-suite.yml
  .github/workflows/code-scanning.yml
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
Labels: CI/CD, Documentation, GitHub

#1532 Fix CI: `mysqladmin` is gone in latest mariadb
  .github/workflows/auto-approve-dominions-prs.yml
  .github/workflows/ci-suite.yml
Labels: Fix, CI/CD, Priority: High, GitHub

#1536 Correct DMAPI Changelog entry name
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#1534 Update Byond.TopicSender to 7.0.1
  .github/workflows/auto-approve-dominions-prs.yml
  src/DMAPI/tgs/v5/_defines.dm
  src/Tgstation.Server.Host/Components/Interop/DMApiConstants.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  tests/DMAPI/LongRunning/Test.dm
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
Labels: Fix, CI/CD, Area: Static Files, Component Issue, Dependencies

#1537 Better error message when CI spuriously fails
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: CI/CD

#1538 Minor documentation updates
  docs/API.dox
  docs/Features.dox
Labels: Documentation

#1543 CodeCov settings cleanup
  .codecov.yml
Labels: Fix, CI/CD

#1544 LocalDB CI fix attempts
  .github/workflows/ci-suite.yml
Labels: Fix, CI/CD

#1545 Wait 10 minutes before timing out DB in GitHub Actions
  src/Tgstation.Server.Host/Database/DatabaseContext.cs
  src/Tgstation.Server.Host/Database/DatabaseSeeder.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: Fix, CI/CD

#1547 Populate `HeadInclude.dm` and `TailInclude.dm` on instance creation
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  tests/Tgstation.Server.Tests/Live/Instance/ConfigurationTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/InstanceTest.cs
  tests/Tgstation.Server.Tests/Live/Instance/RepositoryTest.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: Fix, Feature, Area: Static Files

#1549 Fix not being able to cancel a deployment during DMAPI validation
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
Labels: Fix, Area: Compiler, Component Issue

#1551 If the DMAPI is available, delay non-basic watchdog swaps until TgsReboot() is called
  build/Dockerfile
  build/Version.props
  src/Tgstation.Server.Host/Components/Deployment/SwappableDmbProvider.cs
  src/Tgstation.Server.Host/Components/Session/ISessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/MonitorActivationReason.cs
  src/Tgstation.Server.Host/Components/Watchdog/PosixWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Components/Watchdog/WindowsWatchdog.cs
  src/Tgstation.Server.Host/IO/ISymlinkFactory.cs
  src/Tgstation.Server.Host/IO/PosixSymlinkFactory.cs
  src/Tgstation.Server.Host/IO/WindowsSymlinkFactory.cs
  src/Tgstation.Server.Host/System/PosixProcessFeatures.cs
  tests/DMAPI/LongRunning/Test.dm
  tests/Tgstation.Server.Host.Tests/IO/TestPostWriteHandler.cs
  tests/Tgstation.Server.Host.Tests/System/TestSymlinkFactory.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
Labels: Fix, Area: Watchdog, Watchdog: Windows

#1552 Prevent reboot bridge request completing too soon. Fix renaming and auto-update interval change 500 error. v5.12.6 release
  src/Tgstation.Server.Host/Components/Session/ISessionController.cs
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Controllers/ComponentInterfacingController.cs
  src/Tgstation.Server.Host/Controllers/InstanceController.cs
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/Live/InstanceManagerTest.cs
Labels: Fix, Release

#1553 Fix issue with configuration API contention
  src/Tgstation.Server.Api/Models/ErrorCode.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  src/Tgstation.Server.Host/Components/StaticFiles/IConfiguration.cs
  src/Tgstation.Server.Host/Controllers/ConfigurationController.cs
  src/Tgstation.Server.Host/Utils/SemaphoreSlimContext.cs
Labels: Fix, HTTP API

#1556 Do not auto-approve draft pull requests
  .github/workflows/auto-approve-dominions-prs.yml
Labels: CI/CD

#1558 Test for an edge case I already handled
  tests/Tgstation.Server.Tests/Live/Instance/WatchdogTest.cs
  tests/Tgstation.Server.Tests/Live/TestLiveServer.cs
Labels: Area: Watchdog, Regression Test

#1554 .deb Distribution
  .dockerignore
  .github/workflows/ci-suite.yml
  .github/workflows/code-scanning.yml
  .gitignore
  README.md
  build/Version.props
  build/package/deb/MakeInstall
  build/package/deb/build_package.sh
  build/package/deb/debian/changelog
  build/package/deb/debian/control
  build/package/deb/debian/copyright
  build/package/deb/debian/postinst
  build/package/deb/debian/prerm
  build/package/deb/debian/rules
  build/package/deb/debian/upstream/metadata
  build/package/deb/wrap_gpg.sh
  build/tgstation-server.service
  src/Tgstation.Server.Host.Watchdog/Tgstation.Server.Host.Watchdog.csproj
  src/Tgstation.Server.Host.Watchdog/Watchdog.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/Components/Chat/Providers/IrcProvider.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Extensions/TaskExtensions.cs
  src/Tgstation.Server.Host/IO/Console.cs
  src/Tgstation.Server.Host/Swarm/SwarmService.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  src/Tgstation.Server.Host/Transfer/FileUploadProvider.cs
  tests/Tgstation.Server.Host.Tests/IO/TestRequestFileStreamProvider.cs
  tests/Tgstation.Server.Host.Tests/Jobs/TestJobHandler.cs
  tgstation-server.sln
Labels: Performance, Host Watchdog Change

#1559 Fix rare but possible infinite bridge request hang. Lockdown package versions that consume secrets. Add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/ci-suite.yml
  .github/workflows/stable-merge.yml
  src/Tgstation.Server.Host/Components/Session/SessionController.cs
  tgstation-server.sln
Labels: Fix, CI/CD

#1560 More Debian Packaging Improvements
  .github/workflows/ci-suite.yml
  build/package/deb/build_package.sh
Labels: Fix, CI/CD

#1566 Automatic UAC evaluation for Tgstation.Server.Host.exe
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  src/Tgstation.Server.Host/manifest.xml
Labels: Code Improvement, Windows Only, Runner: Console, CI Cleared

#1561 Signals and SystemD Fixes
  build/tgstation-server.service
  src/Tgstation.Server.Host.Watchdog/Watchdog.cs
  src/Tgstation.Server.Host/Components/Chat/ChatManager.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Core/IRestartHandler.cs
  src/Tgstation.Server.Host/Core/IServerControl.cs
  src/Tgstation.Server.Host/Server.cs
  src/Tgstation.Server.Host/System/PosixSignalHandler.cs
  tests/Tgstation.Server.Host.Tests.Signals/Program.cs
Labels: Fix, CI/CD, Posix Only

#1565 Fix incorrect Discord embed error messages. Fix potential deadlock when a directory copy gets cancelled
  src/Tgstation.Server.Host/Components/Chat/Providers/DiscordProvider.cs
  src/Tgstation.Server.Host/IO/DefaultIOManager.cs
  src/Tgstation.Server.Host/manifest.xml
Labels: Fix, Area: Chat

#1567 Update README with new Ubuntu/Debian installation instructions
  README.md
Labels: Documentation

#1570 Removes Configuration auto-reloading. Make deployment event script respect low priority config. Adds systemd notify support. Support package post-configure
  README.md
  build/package/deb/MakeInstall
  build/package/deb/debian/control
  build/package/deb/debian/postinst
  build/package/deb/debian/prerm
  build/package/deb/debian/rules
  build/package/deb/tgs-configure
  build/tgs.docker.sh
  build/tgstation-server.service
  src/Tgstation.Server.Host/Components/Byond/ByondManager.cs
  src/Tgstation.Server.Host/Components/Deployment/DmbFactory.cs
  src/Tgstation.Server.Host/Components/Deployment/DreamMaker.cs
  src/Tgstation.Server.Host/Components/Events/EventConsumer.cs
  src/Tgstation.Server.Host/Components/Events/IEventConsumer.cs
  src/Tgstation.Server.Host/Components/Instance.cs
  src/Tgstation.Server.Host/Components/InstanceFactory.cs
  src/Tgstation.Server.Host/Components/Repository/IRepository.cs
  src/Tgstation.Server.Host/Components/Repository/Repository.cs
  src/Tgstation.Server.Host/Components/Repository/RepositoryUpdateService.cs
  src/Tgstation.Server.Host/Components/Session/SessionControllerFactory.cs
  src/Tgstation.Server.Host/Components/StaticFiles/Configuration.cs
  src/Tgstation.Server.Host/Components/Watchdog/BasicWatchdog.cs
  src/Tgstation.Server.Host/Components/Watchdog/WatchdogBase.cs
  src/Tgstation.Server.Host/Core/Application.cs
  src/Tgstation.Server.Host/ServerFactory.cs
  src/Tgstation.Server.Host/System/NativeMethods.cs
  src/Tgstation.Server.Host/System/SystemDManager.cs
  src/Tgstation.Server.Host/appsettings.yml
  tgstation-server.sln
Labels: Feature, Documentation, Removal, Area: Static Files, Area: Compiler, Configuration

#1571 .Deb Finalization
  .github/workflows/ci-suite.yml
  README.md
  build/package/deb/MakeInstall
  build/package/deb/appsettings.Initial.yml
  build/package/deb/debian/links
  build/package/deb/debian/postinst
  build/package/deb/debian/rules
  build/package/deb/install_artifacts.sh
  build/package/deb/tgs-configure
  build/tgstation-server.service
  src/Tgstation.Server.Host.Console/tgs.bat
  src/Tgstation.Server.Host.Console/tgs.sh
  src/Tgstation.Server.Host.Watchdog/SignalChecker.cs
  src/Tgstation.Server.Host.Watchdog/Watchdog.cs
  src/Tgstation.Server.Host/Setup/SetupWizard.cs
  src/Tgstation.Server.Host/System/SystemDManager.cs
  src/Tgstation.Server.Host/Tgstation.Server.Host.csproj
  src/Tgstation.Server.Host/appsettings.yml
  tests/Tgstation.Server.Tests/Live/LiveTestingServer.cs
  tgstation-server.sln
Labels: Fix, Feature, CI/CD

#1574 Prevent autoapprove firing if there are open tasks
  .github/workflows/auto-approve-dominions-prs.yml
Labels: CI/CD

#1575 Fix auto-approve workflow
  .github/workflows/auto-approve-dominions-prs.yml
Labels: Fix, CI/CD

#1576 Fix auto approve workflow for real this time
  .github/workflows/auto-approve-dominions-prs.yml
Labels: Fix, CI/CD
